header {
  position: absolute;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: #FFFFFF;
}

nav li:last-child a {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 8px 15px;
}

.logo {
  color: #FFFFFF;
}

.content {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.content-btn {
  display: block;
  background-color: transparent;
  color: #FF4E50;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.content-title {
  text-align: center;
  margin-bottom: 70px;
}

.card {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.card-title {
  margin-bottom: 10px;
}

.card-description {
  color: #666666;
  font-size: 14px;
  line-height: 1.3;
}

.card-img {
  width: 120px;
  height: 120px;
}

.hero-btn {
  background-color: #FF4E50;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero {
  height: 700px;
  background-image: url(../img/cover.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
}

.hero-title {
  font-size: 45px;
  text-transform: uppercase;
  width: 500px;
  color: #FFFFFF;
  line-height: 1.2;
}

.hero-description {
  font-size: 24px;
  line-height: 1.8;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

button {
  border: 2px solid #FF4E50;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}