$red-color: #FF4E50;
$white-color: #FFFFFF;
$black-color: #333333;
$gray-color: #666666;
$inherit-color: inherit;

$font-family: "Montserrat", sans-serif;

$btn-weight: 600;

$btn-padding: 10px 20px;

$btn-radius: 20px;
$img-size: 120px;

$line-height1-2: 1.2;
$line-height1-8: 1.8;

$width-100: 100%;
$width-500px: 500px;
$heigh-700px: 700px;

$font-size45: 45px;
$font-size24: 24px;
$font-size14: 14px;

$margin20: 20px;
$margin70: 70px;
